@import "tailwindcss";

@layer utilities {
  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-fade {
    animation: fade 1s ease-in-out forwards;
  }
}


/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


html {
  height: -webkit-fill-available !important;
}

body {
  overflow: hidden;
  height: -webkit-fill-available !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* background-color: #F5F7FA; */
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 0;
}

hr.light {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
}

.scrollbar-none {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

}

.hFull {
  height: -webkit-fill-available !important;
}